/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/* styles */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #1d1d1d;
  padding: 5em 0;
}

body, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1, h3, p {
  text-align: center;
  color: #f0f0f0;
  opacity: 0.9;
}

h1 {
  font: bold 80px/120% Arial, "Helvetica", sans-serif;
}

h3 {
  text-transform: uppercase;
  font: bold 34px/120% Georgia, serif;
}

p {
  font: 400 16px/120% "Rubik", sans-serif;
  padding: 0.3em 1em;
}

section {
  margin-top: 2em;
}

.clock-container {
  padding: 0 2em;
}

.clock {
  position: relative;
  background-color: #141414;
  border: 10px double #4b4a4a;
  border-radius: 100%;
  height: 17em;
  width: 17em;
}

.hand {
  position: absolute;
  background: #b5b7c4;
  border-radius: 5px;
  left: 50%;
  bottom: 50%;
  /* display: block; */
  transform-origin: bottom center;
}

.min {
  height: 35%;
  width: 0.3em;
}

.sec {
  height: 40%;
  width: 0.2em;
  background-color: #b44848;
}

.hour {
  height: 30%;
  width: 0.4em;
}

.num-time, .month-day {
  color: #f0f0f0;
  letter-spacing: 1px;
}

.num-time {
  font: 400 18px/120% "Share Tech Mono", monospace;
}

.month-day {
  font: 400 16px/120% 'Rubik', sans-serif;
}

@media screen and (max-width: 426px) {
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
    padding: 0.3em 1em;
  }

  .clock-container {
    padding: 0 1em;
  }

  .clock {
    height: 13em;
    width: 13em;
  }
}